:root {
  --main-dark-color: #42313a;
  --main-accent-color: #6c2d2c;
  --sub-accent-color: #9f4636;
  --main-light-color: #f1dcc9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--main-light-color);
}

nav {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
}



p {
  font-size: 60px;
}
